.huidigWeer {
    background-color: white;
    display: flex;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    padding: 1em;
    margin-top: 2em;
    text-align: center;
    }
    
    .huidigWeer__info {
    flex: 1;
    padding: 0.5em;
    }
    
    .huidigWeer__plaats {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    }
    
    .huidigWeer__datum,
    .huidigWeer__tijd {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    }
    
    .huidigWeer__weer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    }
    
    .huidigWeer__temperatuur {
    font-size: 2em;
    margin-right: 0.5em;
    }
    
    .huidigWeer__beschrijving {
    font-size: 1.2em;
    }